<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PD</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Projects</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://nodejs.org/">Node</a></li>
            <li><a href="http://expressjs.com">ExpressJS</a></li>
            <li><a href="https://www.mongodb.org">MongoDB</a></li>
            <li><a href="http://getbootstrap.com">Bootstrap</a></li>
            <li><a href="http://gruntjs.com">Grunt</a></li>
            <li><a href="http://bower.io">Bower</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Contact</li>
            <li><a href="http://www.joe-burton.com">www.joe-burton.com</a></li>
            <li><a href="mailto:joeburton@gmail.com">joeburton@gmail.com</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{#if loggedin}}
          <a href="/logout">Logout</a>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>