    {{>nav}}
    
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Project Directory</h1>
                    <p>Backbone, Node and MongoDB CRUD Application</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{title}}</h2>
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; Joe Burton - 2015</p>
        </footer>
    </div>